<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Read Me</title>
</head>
<body>
    <div class="container">
        <h2>Read Me</h2>
        <p>Welcome to our site! Here are some instructions to get you started:</p>
        <ul>
            <li><strong>Not a user? :</strong> Use Django administration site to register your self as a user.</li>
            <li><strong>Login:</strong> Use your credentials to log in to the site.</li>
            <li><strong>Home:</strong> View and manage your personal blog posts space where you can create a new post, view your post, update your post, delete your post.</li>
            <li><strong>Create post:</strong> Where you can crate your own post by giving a personalized title, the content and the status(Draft/Update) of you post.</li>
            <li><strong>Post:</strong> Where you can see yours and other users posts in there.</li>
            <li><strong>Logout:</strong> Click on the logout button to sign out.</li>
        </ul>
    </div>
</body>
</html>