{% extends "blog/base.html" %}

{% block metatags %}
    <title>Privacy Policy | UJ Blogs</title>
    <meta name="description" content="Privacy Policy for UJ Blogs">
    <meta property="og:title" content="Privacy Policy">
    <meta property="og:site_name" content="UJ Blogs">
    <meta property="og:description" content="Privacy Policy for UJ Blogs">
    <meta property="og:type" content="website">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Privacy Policy</h1>
        <p>Your privacy is important to us. It is UJ Blogs' policy to respect your privacy regarding any information we may collect from you across our website, <a href="https://ujblogs.org">https://ujblogs.org</a>, and other sites we own and operate.</p>
        <h2>Information We Collect</h2>
        <p>We only collect information about you if we have a reason to do so, such as to provide our services, to communicate with you, or to make our services better.</p>
        <h2>How We Use Your Information</h2>
        <p>We use the information we collect in various ways, including to:</p>
        <ul>
            <li>Provide, operate, and maintain our website</li>
            <li>Improve, personalize, and expand our website</li>
            <li>Understand and analyze how you use our website</li>
            <li>Develop new products, services, features, and functionality</li>
            <li>Communicate with you, either directly or through one of our partners</li>
        </ul>
        <h2>Security</h2>
        <p>We take your privacy seriously and take steps to protect your personal information.</p>
        <h2>Contact Us</h2>
        <p>If you have any questions about our Privacy Policy, please contact us at privacy@ujblogs.org.</p>
    </div>
{% endblock %}
